/* border color : #bdc3c7
date color #3498db
h2 color #2c3e50

font source sans pro */

body {

    /* border-width: 20px; */
    border: 20px solid #bdc3c7;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    margin: 20px auto;
    font-family:Source Sans Pro;
    
}